table.table-customer { margin-top: 30px; }
table.table-customer thead th,
table.table-customer tbody td { text-align: center; }
table.table-customer thead th { vertical-align: middle; }
table.table-customer tbody td img { max-width: 128px; max-height: 128px; }

* { 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a { text-decoration: none !important; }
.btn-menu { display: none; padding: 20px; background: #0d2c44; color: #fff; }
.contenedor-menu { width: 20%; min-width: 210px; /*margin: 7px;*/ display: inline-block; line-height: 18px; }
.contenedor-menu .menu { width: 100%; }
.contenedor-menu ul { list-style: none; }
.contenedor-menu .menu li a {
    color: #494949; 
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}
.contenedor-menu .menu li a:hover { background: #1a95d5; color: #fff; }
.contenedor-menu .menu .icono { font-size: 12px; line-height: 18px; }
.contenedor-menu .menu .icono.izquierda { float: left; margin-right: 10px; }
.contenedor-menu .menu .icono.derecha { float: right; margin-left: 10px; }
.contenedor-menu .menu ul { display: none; }
.contenedor-menu .menu ul li a { background: #424242; color: #e9e9e9; }
.contenedor-menu .menu .activado > a { background: #1a95d5; color: #fff }

@media screen and (max-width: 991px) {
    nav.navbar { display: none; }
    body { padding-top: 80px; }
    .contenedor-menu { margin: 0; width: 100%; position: fixed; top: 0; z-index: 1000; }
    .btn-menu { display: block; }
    .contenedor-menu .menu { display: none; }
}

#endSideBar { padding-bottom: 20px; }